# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCODE
.vscode/
*.dSYM/
input*
2015/10/lookAndSay
2015/11/nextPassword
2015/12/accountingParse
2015/13/seating
2015/14/reindeerRace
2015/15/cookieScore
2015/16/auntSue
2015/16/sue
2015/17/fitEggnog
2015/18/lights
2015/19/molecules
2015/20/20b/presents2
2015/20/presents
2015/21/rpg
2015/22/rpg
2015/23/turingLock
2015/24/quantiumEntaglement
2015/24/quantumEntanglement.old
2015/25/code
2015/9/shortestPath
2016/1/bunnyHQ
2016/3/triangles
2015/9/shortestPath
o
test
test2
Tankar
